.cover__bg {
    position: absolute;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .cover__bg {
        width: 1024px;
        height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__bg {
        width: 100%;
        height: 480px;
    }
}

@media screen and (max-width: 400px) {
    .cover__bg {
        width: calc(100% - 0px);
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    .cover__bg {
        width: 100%;
        height: 200px;
    }
}