.footer__links-copyright {
    display: flex;
    margin: 0 auto;
    padding-bottom: 24px;
    width: 1184px;
    min-height: 18px;
}

@media screen and (max-width: 1279px) {
    .footer__links-copyright {
        width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .footer__links-copyright {
        width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .footer__links-copyright {
        flex-direction: column;
        align-items: center;
        width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .footer__links-copyright {
        align-items: start;
        width: 288px;
    }
}