.cover__subtitle {
    font-family: 'Inter', 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    width: 360px;
    z-index: 2;
}


@media screen and (max-width: 767px) {
    .cover__subtitle {
        width: 260px;
        font-size: 14px;
        line-height: 16px;
    }
}
