.place__text {
    margin: 0;
    margin-top: 48px;
    max-width: 484px;
    font-family: 'Inter', 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    
}

.place__text:nth-of-type(2) {
    margin-top: 26px;
}

@media screen and (max-width: 1279px) {
    .place__text {
        width: 456px;
        line-height: 161%;
    }
}

@media screen and (max-width: 1023px) {
    .place__text {
        font-size: 16px;
        width: 352px;
        line-height: 162%;
    }
}

@media screen and (max-width: 767px) {
    .place__text {
        margin-top: 32px;
        margin-right: 4px;
        font-size: 16px;
        width: 283px;
        line-height: 160%;
    }

    .place__text:nth-of-type(2) {
        margin-top: 25px;
    }
}