.place__top-row {
    display: flex;
    align-items: end;
}

@media screen and (max-width: 400px) {
    .place__top-row {
        flex-direction: column;
        align-items: center;
    }
}