.place {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.place:nth-of-type(1) {
    margin-top: 92px;
}

@media screen and (max-width: 1023px) {
    .place {
        margin-top: 71px;
    }

    .place:nth-of-type(1) {
        margin-top: 92px;
    }
}



@media screen and (max-width: 400px) {
    .place {
        margin: 0;
        margin-bottom: 50px;
    }

    .place:nth-of-type(1) {
        margin-top: 0;
    }

    .place:last-of-type {
        margin-bottom: 0;
    }
}