.place {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.place:nth-of-type(1) {
    margin-top: 92px;
}

@media screen and (max-width: 1023px) {
    .place {
        margin-top: 70px;
    }

    .place:nth-of-type(1) {
        margin-top: 88px;
    }
}

@media screen and (max-width: 400px) {
    .place {
        margin-top: 50px;
    }

    .place:nth-of-type(1) {
        margin-top: 64px;
    }

    .place:nth-of-type(2) {
        margin-top: 75px;
    }

    .place:last-of-type {
        margin-top: 77px;
    }
}