.place {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.place:nth-of-type(1) {
    margin-top: 92px;
}

@media screen and (max-width: 1023px) {
    .place {
        margin-top: 73px;
    }

    .place:nth-of-type(1) {
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        margin-top: 50px;
    }

    .place:nth-of-type(1) {
        margin-top: 64px;
    }
}